.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.footer-center {
    display: flex;
    gap: 20px;
}
.footer-center-div {
    display: flex;
    gap: 20px;
    border: 1px solid #eae7e6;
    padding: 5px;
}


.footer-center-all, .footer-center-active, .footer-center-completed {
    cursor: pointer;
    padding: 5px;
}

.footer-center-fc {
    border: 1px solid #eae7e6;
    padding: 5px;
}
.footer-right {
    cursor: pointer;
}